* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 声明字体*/
@font-face {
  font-family: 汉仪铸字超然体;
  src: url(../fonts/汉仪铸字超然体.TTF);
}
@font-face {
  font-family: 华文新魏;
  src: url(../fonts/华文新魏.ttf);
}
body {
  background: url(../image/true.png) no-repeat top center;
  line-height: 1.15;
}
header {
  position: relative;
  height: 1rem;
  background: url(../image/headBg.png);
  background-size: 100% 100%;
}
header h1 {
  font-size: 0.4125rem;
  color: #a59de9;
  text-align: center;
  line-height: 0.875rem;
  font-family: 华文新魏;
}
header .showTime {
  position: absolute;
  right: 2%;
  top: 35%;
  line-height: 0.9375rem;
  color: #51c4d3;
  font-size: 15px;
  font-family: 汉仪铸字超然体;
}
header a {
  width: 60px;
  height: 30px;
  position: absolute;
  left: 2%;
  top: 50%;
  text-align: center;
  line-height: 0.5rem;
  color: #f9f4dc;
  font-size: 15px;
  font-family: 汉仪铸字超然体;
  background-image: url(../image/choose-item.png);
  background-size: 100% 100%;
}
.main {
  display: flex;
  min-width: 1024px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0.125rem 0.125rem 0;
}
.main .one {
  flex: 2;
}
.main .one .panel {
  position: relative;
  height: 5.9rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../image/imgbg.png);
  background-size: 100% 100%;
}
.main .one .panel h2 {
  height: 0.6rem;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.main .one .chart {
  height: 5rem;
}
.main .two {
  flex: 2;
}
.main .two .panel2 {
  position: relative;
  height: 3.875rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../image/imgbg.png);
  background-size: 100% 100%;
}
.main .two .panel2 h2 {
  height: 0.6rem;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.main .two .panel2 .chart {
  height: 3rem;
}
.main .three {
  flex: 1;
}
.main .three .text {
  position: relative;
  height: 5.9rem;
  padding: 0 0.1875rem 0.5rem;
  border: 1px solid rgba(25, 186, 139, 0.17);
  margin-bottom: 0.1875rem;
  background: url(../image/text.png);
  background-size: 100% 100%;
}
.main .three .text h2 {
  height: 0.6rem;
  line-height: 50px;
  text-align: center;
  color: red;
  font-size: 20px;
}
.main .three .chart {
  height: 5rem;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 42px !important;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 80px !important;
  }
}
